@model EpiHot.Models.Dto.ServiceDto

<h2>Aggiungi nuovo servizio</h2>
<form asp-action="AddService" asp-controller="Service" method="post">
    <!-- Tipo di Servizio -->
    <div class="form-group">
        <label asp-for="ServiceType">Tipo di servizio</label>
        <input asp-for="ServiceType" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Salva</button>
</form>