@model List<EpiHot.Models.Service>

<div class="btn-group mb-4" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" onclick="loadPartialView('GetServicesPartial')">Lista servizi</button>
    <button type="button" class="btn btn-primary" onclick="loadPartialView('AddServicePartial')">Aggiungi nuovo servizio</button>
    <button type="button" class="btn btn-primary" onclick="loadPartialView('AddServiceToReservationPartial')">Aggiungi un servizio ad una prenotazione</button>
</div>

<div id="partialContainer">
    @Html.Partial("~/Views/Service/_GetServices.cshtml", Model)
</div>

@section Scripts {
    <script>
        function loadPartialView(action) {
            $.ajax({
                url: '@Url.Action()/' + action,
                type: 'GET',
                success: function (result) {
                    $('#partialContainer').html(result);
                },
                error: function (xhr, status, error) {
                    console.error('Errore durante il caricamento della partial view: ', status, error);
                }
            });
        }
    </script>
}
