@model EpiHot.Models.MW.AddReservationMW

<h2>Modifica Prenotazione</h2>
<form asp-action="UpdateReservation" asp-controller="Reservation" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Reservation.ReservationId" />
    <!-- CustomerId -->
    <div class="form-group">
        <label for="CustomerId">Seleziona Cliente</label>
        <select asp-for="Reservation.CustomerId" class="form-control" asp-items="@(new SelectList(Model.Customers, "CustomerId", "CustomerFiscalCode", Model.Reservation.CustomerId))">
            <option value="">Seleziona un cliente</option>
        </select>
    </div>
    <!-- RoomId -->
    <div class="form-group">
        <label for="RoomId">Seleziona Stanza</label>
        <select asp-for="Reservation.RoomId" class="form-control" asp-items="@(new SelectList(Model.Rooms, "RoomId", "RoomNumber", Model.Reservation.RoomId))">
            <option value="">Seleziona una stanza</option>
        </select>
    </div>
    <!-- ReservationDate -->
    <div class="form-group">
        <label asp-for="Reservation.ReservationDate">Data della Prenotazione</label>
        <input asp-for="Reservation.ReservationDate" class="form-control" type="date" />
    </div>
    <!-- StartStayDate -->
    <div class="form-group">
        <label asp-for="Reservation.ReservationStartStayDate">Data di Inizio Soggiorno</label>
        <input asp-for="Reservation.ReservationStartStayDate" class="form-control" type="date" />
    </div>
    <!-- EndStayDate -->
    <div class="form-group">
        <label asp-for="Reservation.ReservationEndStayDate">Data di Fine Soggiorno</label>
        <input asp-for="Reservation.ReservationEndStayDate" class="form-control" type="date" />
    </div>
    <!-- Deposit -->
    <div class="form-group">
        <label asp-for="Reservation.ReservationDeposit">Caparra</label>
        <input asp-for="Reservation.ReservationDeposit" class="form-control" />
    </div>
    <!-- Price -->
    <div class="form-group">
        <label asp-for="Reservation.ReservationPrice">Prezzo</label>
        <input asp-for="Reservation.ReservationPrice" class="form-control" />
    </div>
    <!-- Type -->
    <div class="form-group">
        <label asp-for="Reservation.ReservationType" class="control-label">Tipo di Prenotazione</label>
        <select asp-for="Reservation.ReservationType" class="form-control">
            <option value="0">Mezza Pensione</option>
            <option value="1">Pensione Completa</option>
            <option value="2">Pernottamento con Colazione</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Salva</button>
</form>
