@model List<EpiHot.Models.MW.GetReservationMW>

<div class="btn-group mb-4" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" onclick="loadPartialView('GetReservationsPartial')">Lista prenotazioni</button>
    <button type="button" class="btn btn-primary" onclick="loadPartialView('GetReservationsByFiscalCodePartial')">Prenotazioni tramite C.F.</button>
    <button type="button" class="btn btn-primary" onclick="loadPartialView('GetReservationsByFullBoardPartial')">Prenotazioni di tipo pensione completa.</button>
    <button type="button" class="btn btn-primary" onclick="loadPartialView('AddReservationPartial')">Aggiungi nuova prenotazione</button>
</div>

<div id="partialContainer">
    @Html.Partial("~/Views/Reservation/_GetReservations.cshtml", Model)
</div>

@section Scripts {
    <script>
        function loadPartialView(action) {
            $.ajax({
                url: '@Url.Action()/' + action,
                type: 'GET',
                success: function (result) {
                    $('#partialContainer').html(result);
                },
                error: function (xhr, status, error) {
                    console.error('Errore durante il caricamento della partial view: ', status, error);
                }
            });
        }
    </script>
}
