@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Benvenuto su EpiHot!</h1>
        <p class="lead">L'unico hotel in cui il cliente ha sempre torto.</p>
        <hr class="my-4">
        <p>Usa i link di navigazione qui sotto per accedere alle varie sezioni del backoffice.</p>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Reservation" asp-action="Index" role="button">Gestisci Prenotazioni</a>
        <a class="btn btn-secondary btn-lg" asp-area="" asp-controller="Customer" asp-action="Index" role="button">Gestisci Clienti</a>
        <a class="btn btn-success btn-lg" asp-area="" asp-controller="Service" asp-action="Index" role="button">Gestisci Servizi</a>
    </div>
</div>
