@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Benvenuto su EpiHot!</h1>
        <p class="lead">L'unico hotel in cui il cliente ha sempre torto.</p>
        <hr class="my-4">
        <p>Usa i link di navigazione qui sotto per accedere alle varie sezioni del backoffice.</p>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Reservation" asp-action="Index" role="button">Gestisci Prenotazioni</a>
        <a class="btn btn-secondary btn-lg" asp-area="" asp-controller="Customer" asp-action="Index" role="button">Gestisci Clienti</a>
        <a class="btn btn-success btn-lg" asp-area="" asp-controller="Service" asp-action="Index" role="button">Gestisci Servizi</a>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="container mt-5">
        <h2 class="display-6">Sezione Amministratore</h2>
        <p class="lead">Solo gli amministratori possono vedere questa sezione.</p>
        <hr class="my-4">
        <a class="btn btn-warning btn-lg" asp-area="" asp-controller="Auth" asp-action="Register" role="button">Registra Utente</a>
    </div>
}